* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

ol {
  margin-block-start: initial;
  margin-block-end: initial;
  padding-inline-start: initial;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100dvw / 2);
  height: calc(100dvh / 2);
  background-color: lightgray;
  border-radius: 10px;
  margin: auto;
}

.game-info {
  padding: 20px;
}

.game-field {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 170px;
  width: 145px;
}
